/* Editor styles */
html { box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: 400; }

* { box-sizing: inherit; }
*:before, *:after { box-sizing: inherit; }

body { background-color: #f9f9f9; color: #151515; font-size: 16px; font-family: "Montserrat", "Helvetica", sans-serif; font-weight: 400; line-height: 1.5; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { font-family: "Playfair Display", "Georgia", serif; line-height: 1.35; margin: 0; }

a { color: #44a08d; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
a:visited { color: #2d6a5e; }
a:hover, a:active, a:focus { color: #2d6a5e; text-decoration: none; }

p { margin: 0 0 24px 0; }

ul, ol { margin: 12px 0; padding-left: 12px; }
ul ul, ul ol, ol ul, ol ol { margin: 0 0 0 12px; padding-left: 12px; }

dl { margin: 12px 0; }
dl dt { font-weight: bold; margin: 0; }
dl dd { margin: 0 0 12px 0; }

blockquote { font: italic 16px "Playfair Display", "Georgia", serif; margin: 12px 0; padding: 24px; }
blockquote:before, blockquote:after { display: block; content: ''; height: 2px; width: 10%; background: rgba(21, 21, 21, 0.25); border-radius: 0.05em; margin: 0 45%; position: relative; }
blockquote:before { top: -24px; }
blockquote:after { top: 24px; }
blockquote p { margin: 0; }
blockquote cite { display: block; margin-top: 12px; }

.pull-left { float: left; margin: 24px; width: 50vw; }
.pull-left:before, .pull-left:after { width: 100%; margin: 0; }
@media screen and (min-width: 850px) { .pull-left { width: 25vw; } }

.pull-right { float: right; margin: 24px; width: 50vw; }
.pull-right:before, .pull-right:after { width: 100%; margin: 0; }
@media screen and (min-width: 850px) { .pull-right { width: 25vw; } }

table { border: 1px solid rgba(21, 21, 21, 0.25); border-collapse: collapse; margin: 12px 0; max-width: 100%; }
table tr { border: 1px solid rgba(21, 21, 21, 0.25); }
table td, table th { border: 1px solid rgba(21, 21, 21, 0.25); padding: 6px; }

abbr[title], acronym { border-bottom: 1px dashed rgba(21, 21, 21, 0.55); cursor: help; text-decoration: none; }

code, kbd, pre, tt { font: normal 16px "Oxygen Mono", "Courier New", monospace; }

code, kbd, tt { background-color: #151515; border: 1px solid #151515; border-radius: 6px; color: #f9f9f9; padding: 3px; }

pre { background-color: #f1f1f1; max-width: 100%; overflow: auto; padding: 6px; word-wrap: break-word; }

ins { background-color: yellow; text-decoration: none; }

var { font: italic 16px "Oxygen Mono", "Courier New", monospace; }

button, input[type="button"], input[type="reset"], input[type="submit"] { background-color: white; border: 1px solid rgba(21, 21, 21, 0.25); font-family: "Montserrat", "Helvetica", sans-serif; line-height: 1.5; padding: 6px; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
button:hover, button:active, button:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus { background-color: #44a08d; border-color: #44a08d; color: white; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { border: 1px solid rgba(21, 21, 21, 0.25); font-family: "Montserrat", "Helvetica", sans-serif; line-height: 26px; /* we boost this just a bit for a better look */ padding: 5px; }

embed, iframe, object { max-width: 100%; }

img, figure { height: auto; max-width: 100%; margin: 0; }

.wp-post-image { display: block; width: 100%; }

.alignleft { display: inline; float: left; margin: 0 24px 24px 0; }

.alignright { display: inline; float: right; margin: 0 0 24px 24px; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.wp-caption-text { font: italic 14px "Playfair Display", "Georgia", serif; }

.wp-caption { background-color: #f1f1f1; margin-bottom: 12px; }
.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }
.wp-caption .wp-caption-text { font: italic 14px "Playfair Display", "Georgia", serif; padding: 12px; text-align: right; }

.gallery { margin-bottom: 24px; }

.gallery-caption { display: block; font: italic 14px "Playfair Display", "Georgia", serif; line-height: 1.4; }

.gallery-item { display: inline-block; margin-bottom: 12px; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33333%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66667%; }
.gallery-columns-7 .gallery-item { max-width: 14.28571%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11111%; }

body#tinymce { padding: 24px 12px; }

ul, ol { padding-left: 24px; }

/*# sourceMappingURL=editor-style.css.map */