/* RTL-specific styles */
body { direction: rtl; unicode-bidi: embed; }

.avatar { float: right; margin-left: 24px; margin-right: 0; }

@media screen and (min-width: 850px) { .comments-header { padding-right: 24px; text-align: right; }
  .comments-header .count { left: 24px; right: auto; } }
.comment-reply { display: block; }
@media screen and (min-width: 1100px) { .comment-reply { display: inline-block; margin-right: 0; } }
.comment-reply:before { display: none; }
.comment-reply:after { font: normal 16px "Genericons"; content: '\f412'; /* we're nudging these around a bit, for a better look */ position: relative; top: 1px; left: -1px; margin-left: 4px; }

.comment-edit, .pingback-edit { display: block; }
@media screen and (min-width: 1100px) { .comment-edit, .pingback-edit { display: inline-block; margin-right: 24px; } }
.comment-edit:before, .pingback-edit:before { display: none; }
.comment-edit:after, .pingback-edit:after { font: normal 16px "Genericons"; content: '\f411'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; margin-left: 4px; }

.cat-links { display: block; }
.cat-links:before { display: none; }
.cat-links:after { font: normal 16px "Genericons"; content: '\f301'; /* we're nudging these down a bit, for a better look */ position: relative; top: 2px; margin-left: 4px; }

.tags-links { display: block; }
.tags-links:before { display: none; }
.tags-links:after { font: normal 16px "Genericons"; content: '\f302'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; margin-left: 4px; }

.edit-link { display: block; }
.edit-link:before { display: none; }
.edit-link:after { font: normal 16px "Genericons"; content: '\f411'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; }

@media screen and (min-width: 850px) { .big-feature { float: right; height: 100%; width: 70%; }
  .row-feature { float: left; width: 30%; } }
.site-info { text-align: left; }

@media screen and (min-width: 850px) { .jetpack-social-navigation { text-align: right; } }
.site-header { right: 24px; }

.dropdown-toggle { left: 0; right: auto; }

.nav-previous { text-align: left; }
@media screen and (min-width: 850px) { .nav-previous { text-align: right; } }

.nav-next { text-align: right; }
@media screen and (min-width: 850px) { .nav-next { text-align: left; } }

.page-numbers { display: none; }
@media screen and (min-width: 1100px) { .page-numbers { display: inline-block; } }
.page-numbers.prev { right: 0; left: auto; }
.page-numbers.next { left: 0; right: auto; }

.panel { right: 0; }

ul, ol { padding-right: 12px; }
ul ul, ul ol, ol ul, ol ol { margin: 0 12px 0 0; padding-right: 12px; }

/*# sourceMappingURL=rtl.css.map */