/*
Theme Name: Libra
Author: Stephen Dickinson
Author URI: http://stephencottontail.com/
Description: Libra is a contemporary magazine or portfolio theme that features clean typography and a grid to easily display articles, images, or just blog posts.
Version: 1.1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: libra
Tags: one-column, grid-layout, custom-menu, editor-style, featured-images, footer-widgets, theme-options, threaded-comments, translation-ready, blog, photography, portfolio

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Libra is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document ========================================================================== */
/** 1. Change the default font family in all browsers (opinionated). 2. Correct the line height in all browsers. 3. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html { font-family: sans-serif; /* 1 */ line-height: 1.15; /* 2 */ -ms-text-size-adjust: 100%; /* 3 */ -webkit-text-size-adjust: 100%; /* 3 */ }

/* Sections ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body { margin: 0; }

/** Add the correct display in IE 9-. */
article, aside, footer, header, nav, section { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** Add the correct display in IE 9-. */
figcaption, figure { display: block; }

/** Add the correct margin in IE 8. */
figure { margin: 1em 40px; }

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** Add the correct display in IE. */
main { display: block; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Links ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/** Remove the outline on focused links when they are also active or hovered in all browsers (opinionated). */
a:active, a:hover { outline-width: 0; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font style in Android 4.3-. */
dfn { font-style: italic; }

/** Add the correct background and color in IE 9-. */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Add the correct display in IE 9-. */
audio, video { display: inline-block; }

/** Add the correct display in iOS 4-7. */
audio:not([controls]) { display: none; height: 0; }

/** Remove the border on images inside links in IE 10-. */
img { border-style: none; }

/** Hide the overflow in IE. */
svg:not(:root) { overflow: hidden; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers (opinionated). 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: sans-serif; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. */
button { overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS and Safari. */
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

button, [type="button"], [type="reset"], [type="submit"] { /** Remove the inner border and padding in Firefox. */ /** Restore the focus styles unset by the previous rule. */ }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Show the overflow in Edge. */
input { overflow: visible; }

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ /** Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */ }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ color: inherit; /* 2 */ white-space: normal; /* 1 */ }

/** 1. Add the correct display in IE 9-. 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Remove the default vertical scrollbar in IE. */
textarea { overflow: auto; }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Add the correct display in IE 9-. */
menu { display: block; }

/* Scripting ========================================================================== */
/** Add the correct display in IE 9-. */
canvas { display: inline-block; }

/** Add the correct display in IE. */
template { display: none; }

/* Hidden ========================================================================== */
/** Add the correct display in IE 10-. */
[hidden] { display: none; }

.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute; height: 1px; width: 1px; overflow: hidden; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

html { box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-weight: 400; }

* { box-sizing: inherit; }
*:before, *:after { box-sizing: inherit; }

body { background-color: #f9f9f9; color: #151515; font-size: 16px; font-family: "Montserrat", "Helvetica", sans-serif; font-weight: 400; line-height: 1.5; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { font-family: "Playfair Display", "Georgia", serif; line-height: 1.35; margin: 0; }

a { color: #44a08d; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
a:visited { color: #2d6a5e; }
a:hover, a:active, a:focus { color: #2d6a5e; text-decoration: none; }

p { margin: 0 0 24px 0; }

ul, ol { margin: 12px 0; padding-left: 12px; }
ul ul, ul ol, ol ul, ol ol { margin: 0 0 0 12px; padding-left: 12px; }

dl { margin: 12px 0; }
dl dt { font-weight: bold; margin: 0; }
dl dd { margin: 0 0 12px 0; }

blockquote { font: italic 16px "Playfair Display", "Georgia", serif; margin: 12px 0; padding: 24px; }
blockquote:before, blockquote:after { display: block; content: ''; height: 2px; width: 10%; background: rgba(21, 21, 21, 0.25); border-radius: 0.05em; margin: 0 45%; position: relative; }
blockquote:before { top: -24px; }
blockquote:after { top: 24px; }
blockquote p { margin: 0; }
blockquote cite { display: block; margin-top: 12px; }

.pull-left { float: left; margin: 24px; width: 50vw; }
.pull-left:before, .pull-left:after { width: 100%; margin: 0; }
@media screen and (min-width: 850px) { .pull-left { width: 25vw; } }

.pull-right { float: right; margin: 24px; width: 50vw; }
.pull-right:before, .pull-right:after { width: 100%; margin: 0; }
@media screen and (min-width: 850px) { .pull-right { width: 25vw; } }

table { border: 1px solid rgba(21, 21, 21, 0.25); border-collapse: collapse; margin: 12px 0; max-width: 100%; }
table tr { border: 1px solid rgba(21, 21, 21, 0.25); }
table td, table th { border: 1px solid rgba(21, 21, 21, 0.25); padding: 6px; }

abbr[title], acronym { border-bottom: 1px dashed rgba(21, 21, 21, 0.55); cursor: help; text-decoration: none; }

code, kbd, pre, tt { font: normal 16px "Oxygen Mono", "Courier New", monospace; }

code, kbd, tt { background-color: #151515; border: 1px solid #151515; border-radius: 6px; color: #f9f9f9; padding: 3px; }

pre { background-color: #f1f1f1; max-width: 100%; overflow: auto; padding: 6px; word-wrap: break-word; }

ins { background-color: yellow; text-decoration: none; }

var { font: italic 16px "Oxygen Mono", "Courier New", monospace; }

.not-found { padding: 24px 24px 48px; }

.author-bio-wrapper { -webkit-box-flex: 1; -ms-flex: 1 auto; flex: 1 auto; background-color: white; padding: 0 24px 24px; }

.author-bio { border-top: 2px solid #44a08d; border-bottom: 2px solid #44a08d; padding: 24px 0; }
.author-bio .avatar { border-radius: 50%; }

.author-biography { line-height: 1.35; margin: 24px 0; }

.author-link { clear: both; font: italic 16px "Playfair Display", "Georgia", serif; }

.avatar { float: left; border-radius: 50%; margin: 0 24px 24px 0; }
.bypostauthor .avatar { border: 2px solid #44a08d; }

#comments { -ms-flex-preferred-size: 100%; flex-basis: 100%; background-color: white; }
#comments .comment-list, #comments .children { list-style: none; margin: 0; padding: 0; }

.comments-header { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #44a08d; color: #f9f9f9; text-align: center; }
.comments-header .hgroup { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 12px 0; }
.comments-header .count { -ms-flex-preferred-size: 100%; flex-basis: 100%; background-color: #2d6a5e; padding: 12px 0; }
.comments-header .count span { font-size: 24px; }
@media screen and (min-width: 850px) { .comments-header .count { position: absolute; height: 100%; top: 0; right: 24px; padding: 24px; } }
@media screen and (min-width: 850px) { .comments-header { position: relative; padding-left: 24px; text-align: left; } }

.comments-subtitle { margin: 0; }
@media screen and (min-width: 850px) { .comments-subtitle { font-size: 14px; } }

.comment-content { padding: 24px; }
.comment-content:after { content: ''; display: table; clear: both; }
.comment-content .in-reply-to { display: block; font: italic 14px "Playfair Display", "Georgia", serif; margin-bottom: 12px; }

.comment-actions { clear: both; }
.comment-actions a { text-decoration: none; }

.no-comments { padding: 12px 24px; }

.comment-reply { display: block; font: italic 14px "Playfair Display", "Georgia", serif; }
@media screen and (min-width: 1100px) { .comment-reply { display: inline-block; margin-right: 24px; } }
.comment-reply:before { font: normal 16px "Genericons"; content: '\f412'; /* we're nudging these around a bit, for a better look */ position: relative; top: 1px; left: -1px; }

.comment-edit, .pingback-edit { display: block; font: italic 14px "Playfair Display", "Georgia", serif; }
@media screen and (min-width: 1100px) { .comment-edit, .pingback-edit { display: inline-block; } }
.comment-edit:before, .pingback-edit:before { font: normal 16px "Genericons"; content: '\f411'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; }

.pingback-edit { margin-top: 12px; }
@media screen and (min-width: 1100px) { .pingback-edit { display: block; } }

.comment-header { background-color: #f9f9f9; padding: 12px 24px 24px; }
.comment-header .fn, .comment-header time { display: block; }
.comment-header .fn { font-family: "Playfair Display", "Georgia", serif; margin-bottom: 12px; }
.comment-header time { font-size: 14px; }
.comment-header a { text-decoration: none; }

.pingback-body { border-bottom: 1px dashed rgba(21, 21, 21, 0.25); padding: 24px; }

.comment-respond { padding: 48px 24px; }
.comment-respond label { display: block; width: 100%; }
.comment-respond input, .comment-respond textarea { width: 100%; }
.comment-respond .submit { width: auto; }

.site { position: relative; }

.site-content { position: relative; }
@media screen and (min-width: 1400px) { .site-content { top: -70px; padding-left: 390px; } }

.libra-window { background-color: #44a08d; background-position: center top; background-size: cover; height: 450px; }
.libra-window img { width: 100%; height: 100%; }

.content-wrapper { background-color: white; }
@media screen and (min-width: 1100px) { .content-wrapper { margin: -48px auto 0; width: 940px; } }
.content-wrapper.archive-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

article.post, article.page, article.attachment { -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; position: relative; background-color: white; margin-bottom: 48px; }
article.post:after, article.page:after, article.attachment:after { content: ''; display: table; clear: both; }
@media screen and (min-width: 850px) { article.post, article.page, article.attachment { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
article.post:last-of-type, article.page:last-of-type, article.attachment:last-of-type { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.single article.post, .single article.page, .single article.attachment { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; margin: 0; min-width: 0; /* flexbox fix for images */ padding: 24px 24px 48px; }

article.page { padding: 24px 24px 48px; }

.entry-header { margin-bottom: 24px; }

.entry-inner-wrapper { background-color: white; padding: 24px; }
@media screen and (min-width: 1100px) { .entry-inner-wrapper { background-color: white; } }

.entry-inner { position: relative; background-color: white; border-bottom: 1px solid rgba(21, 21, 21, 0.15); min-height: 300px; }

.archive-footer { position: absolute; bottom: -1px; background-color: white; font: italic 14px "Playfair Display", "Georgia", serif; }
.archive-footer .genericon { /* we're nudging the separator dot a bit, for a better look */ position: relative; top: 3px; }
.archive-footer a { text-decoration: none; }

.entry-content:after { content: ''; display: table; clear: both; }

.entry-footer { font: italic 14px "Playfair Display", "Georgia", serif; padding-top: 48px; }

.callout { font: italic 18px "Playfair Display", "Georgia", serif; margin-bottom: 24px; padding: 12px 0; }

.cat-links { display: block; }
.cat-links:before { font: normal 16px "Genericons"; content: '\f301'; /* we're nudging these down a bit, for a better look */ position: relative; top: 2px; }

.tags-links { display: block; }
.tags-links:before { font: normal 16px "Genericons"; content: '\f302'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; }

.edit-link { display: block; }
.edit-link:before { font: normal 16px "Genericons"; content: '\f411'; /* we're nudging these down a bit, for a better look */ position: relative; top: 1px; }

.page-links { line-height: 1; }
.page-links .page-number { color: inherit; padding: 0 12px; text-decoration: none; }
.page-links a { display: inline-block; padding: 6px 0; text-decoration: none; }
.page-links a:hover, .page-links a:active, .page-links a:focus { background-color: #44a08d; color: white; }

.featured-wrapper { background-size: cover; background-position: center top; min-height: 55vh; padding: 144px 0 24px; text-shadow: 4px 4px 2px rgba(21, 21, 21, 0.45); }
.featured-wrapper a { text-decoration: none; }
.featured-wrapper:after { content: ''; display: table; clear: both; }
.featured-wrapper .read-more { display: none; }
@media screen and (min-width: 1100px) { .featured-wrapper { padding-bottom: 72px; } }

@media screen and (min-width: 850px) { .big-feature { float: left; height: 100%; width: 70%; }
  .row-feature { float: right; width: 30%; } }
article.featured { background-color: transparent; color: #f9f9f9; padding: 24px; width: 100%; }
article.featured a { color: inherit; }
article.featured a:hover, article.featured a:active, article.featured a:focus { color: #adadad; }
article.featured .entry-header { padding: 0; }
article.featured .entry-title { margin-top: 12px; }
article.featured .entry-content { padding: 0; }

.featured-cat-link { border-top: 2px solid transparent; text-transform: uppercase; }
.featured-cat-link:hover { border-top-color: #44a08d; }

.site-footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: white; margin-top: 48px; padding: 24px; }
@media screen and (min-width: 850px) { .site-footer { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.site-info { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font: italic 14px "Playfair Display", "Georgia", serif; margin-top: 24px; text-align: right; }
@media screen and (min-width: 850px) { .site-info { margin: 0; } }
@media screen and (min-width: 850px) { .site-info { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; } }

button, input[type="button"], input[type="reset"], input[type="submit"] { background-color: white; border: 1px solid rgba(21, 21, 21, 0.25); font-family: "Montserrat", "Helvetica", sans-serif; line-height: 1.5; padding: 6px; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
button:hover, button:active, button:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus { background-color: #44a08d; border-color: #44a08d; color: white; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { border: 1px solid rgba(21, 21, 21, 0.25); font-family: "Montserrat", "Helvetica", sans-serif; line-height: 26px; /* we boost this just a bit for a better look */ padding: 5px; }

.site-header { position: absolute; top: 24px; left: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: transparent; color: #f9f9f9; padding-bottom: 24px; text-shadow: 4px 4px 2px rgba(21, 21, 21, 0.45); }
.site-header a { color: inherit; text-decoration: none; }
.site-header a:hover, .site-header a:active, .site-header a:focus { color: lightgray; }

.site-branding { padding: 0 24px; z-index: 10; }
@media screen and (min-width: 1400px) { .site-branding { padding: 0; } }

.site-title { font: normal 32px/1 "Playfair Display", "Georgia", serif; margin: 0; }

.site-description { font: normal 0.875em/1 "Playfair Display", "Georgia", serif; margin: 0; }

.title-box { position: absolute; width: 100%; top: 30vh; color: #f9f9f9; text-align: center; text-shadow: 4px 4px 2px rgba(21, 21, 21, 0.45); word-wrap: break-word; }
.title-box a { color: inherit; text-decoration: none; }
.title-box a:hover, .title-box a:active, .title-box a:focus { color: lightgray; }
.title-box .page-subtitle { font: italic 16px "Playfair Display", "Georgia", serif; }
@media screen and (min-width: 850px) { .title-box .page-subtitle { font-size: 14px; } }
.title-box .genericon { /* we're nudging the separator dot a bit, for a better look */ position: relative; top: 3px; }
.title-box:after { display: block; content: ''; height: 3px; width: 10%; background: #f9f9f9; border-radius: 0.05em; margin: 0 45%; }
@media screen and (min-width: 1400px) { .title-box { padding-left: 390px; } }

.site-navigation { margin: 24px 0; }
.site-navigation ul { list-style: none; margin: 0; padding: 0; text-transform: uppercase; }
.site-navigation ul ul { display: none; text-transform: lowercase; }
.site-navigation ul ul.toggled-on { display: block; }
.site-navigation li { border-bottom: 1px solid rgba(249, 249, 249, 0.35); position: relative; }
.site-navigation li li { border-bottom: none; }
.site-navigation a { display: block; padding: 5px 0; }

.dropdown-toggle { position: absolute; top: 2px; /* we're nudging this down a bit for a better look */ right: 0; height: 30px; width: 30px; background-color: transparent; border: 0; color: #f9f9f9; padding: 0; position: absolute; text-transform: lowercase; /* stop screen readers from reading the text as capital letters */ -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
.dropdown-toggle:before { position: relative; top: 1px; /* we're nudging this down a bit for a better look */ font-family: "Genericons"; content: '\f431'; vertical-align: baseline; }
.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus { background-color: #3c8e7d; }
.dropdown-toggle.toggled-on { background-color: #3c8e7d; }
.dropdown-toggle.toggled-on:before { content: '\f432'; }

embed, iframe, object { max-width: 100%; }

img, figure { height: auto; max-width: 100%; margin: 0; }

.wp-post-image { display: block; width: 100%; }

.alignleft { display: inline; float: left; margin: 0 24px 24px 0; }

.alignright { display: inline; float: right; margin: 0 0 24px 24px; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.wp-caption-text { font: italic 14px "Playfair Display", "Georgia", serif; }

.wp-caption { background-color: #f1f1f1; margin-bottom: 12px; }
.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }
.wp-caption .wp-caption-text { font: italic 14px "Playfair Display", "Georgia", serif; padding: 12px; text-align: right; }

.gallery { margin-bottom: 24px; }

.gallery-caption { display: block; font: italic 14px "Playfair Display", "Georgia", serif; line-height: 1.4; }

.gallery-item { display: inline-block; margin-bottom: 12px; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33333%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66667%; }
.gallery-columns-7 .gallery-item { max-width: 14.28571%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11111%; }

.navigation { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; background-color: white; padding: 24px 0; }

.pagination, .comments-pagination { text-align: center; }
.pagination .nav-links, .comments-pagination .nav-links { display: block; padding: 12px 25%; }
.pagination a, .comments-pagination a { text-decoration: none; }
.pagination a:hover, .pagination a:active, .pagination a:focus, .comments-pagination a:hover, .comments-pagination a:active, .comments-pagination a:focus { background-color: #44a08d; color: white; }

.nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; }
@media screen and (min-width: 850px) { .nav-links { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .nav-links .nav-previous { -webkit-box-flex: 1; -ms-flex: 1 0 50%; flex: 1 0 50%; }
  .nav-links .nav-next { -webkit-box-flex: 1; -ms-flex: 1 0 50%; flex: 1 0 50%; margin-left: auto; } }

.nav-next { text-align: right; }

.pagination { margin-bottom: 48px; }
@media screen and (min-width: 1100px) { .pagination { padding: 0; } }

.page-numbers { display: none; text-decoration: none; }
@media screen and (min-width: 1100px) { .page-numbers { display: inline-block; padding: 12px 24px; } }
.page-numbers .screen-reader-text { position: relative; }
@media screen and (min-width: 1100px) { .page-numbers .screen-reader-text { position: absolute; } }
.page-numbers.current, .page-numbers.next, .page-numbers.prev { display: inline-block; text-decoration: none; }
.page-numbers.current { font-weight: bold; text-align: center; }
.page-numbers.prev { position: absolute; top: 0; left: 0; width: 25%; padding: 12px 0; text-align: center; }
@media screen and (min-width: 1100px) { .page-numbers.prev { top: 12px; } }
.page-numbers.next { position: absolute; top: 0; right: 0; width: 25%; padding: 12px 0; text-align: center; }
@media screen and (min-width: 1100px) { .page-numbers.next { top: 12px; } }

.post-navigation, .comment-navigation { font-family: "Playfair Display", "Georgia", serif; padding-bottom: 48px; }
.post-navigation .nav-title, .comment-navigation .nav-title { display: block; color: #151515; font: italic 14px "Montserrat", "Helvetica", sans-serif; margin-bottom: 12px; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
.post-navigation a, .comment-navigation a { display: block; padding: 12px 24px; text-decoration: none; }
.post-navigation a:hover, .post-navigation a:active, .post-navigation a:focus, .comment-navigation a:hover, .comment-navigation a:active, .comment-navigation a:focus { background-color: #44a08d; color: #f9f9f9; text-decoration: none; }
.post-navigation a:hover .nav-title, .post-navigation a:active .nav-title, .post-navigation a:focus .nav-title, .comment-navigation a:hover .nav-title, .comment-navigation a:active .nav-title, .comment-navigation a:focus .nav-title { color: #f9f9f9; }

.comment-navigation { margin-bottom: 48px; padding: 0; }
.comment-navigation:after { content: ''; display: table; clear: both; }

.panel-toggle { display: inline-block; width: 1.5em; height: 1em; background-color: transparent; border: none; border-radius: 0; color: #f9f9f9; cursor: auto; font-size: 16px; padding: 0; position: relative; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; vertical-align: middle; z-index: 10; }
.panel-toggle:before, .panel-toggle:after { content: ''; }
.panel-toggle:before, .panel-toggle .icon, .panel-toggle:after { display: block; width: 100%; height: 3px; background-color: #f9f9f9; border-radius: 0.05em; margin: 0 0 3px; -webkit-transition: all 350ms ease-out; transition: all 350ms ease-out; }
.panel-toggle:before { width: 65%; }
.panel-toggle:after { width: 33%; }
.panel-toggle:hover, .panel-toggle:focus { background-color: transparent; -webkit-transform: scale(1); transform: scale(1); }
.panel-toggle:hover:before, .panel-toggle:hover:after, .panel-toggle:focus:before, .panel-toggle:focus:after { width: 100%; }
.panel-open .panel-toggle { position: relative; }
.panel-open .panel-toggle .icon { -webkit-transform: scale(0); transform: scale(0); }
.panel-open .panel-toggle:before { -webkit-transform: translateY(0.4em) rotate(135deg); transform: translateY(0.4em) rotate(135deg); width: 100%; }
.panel-open .panel-toggle:after { -webkit-transform: translateY(-0.4em) rotate(-135deg); transform: translateY(-0.4em) rotate(-135deg); width: 100%; }
@media screen and (min-width: 1400px) { .panel-toggle { display: none; } }

.panel { display: none; position: absolute; top: -24px; left: 0; height: 100%; width: 90%; background-color: #44a08d; color: #f9f9f9; overflow-x: hidden; overflow-y: scroll; padding: 144px 24px 0; z-index: 2; }
.panel a { color: inherit; text-decoration: none; }
.panel a:hover { color: lightgray; }
.panel.expanded { display: block; }
.panel .search-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #2d6a5e; padding-bottom: 6px; }
.panel .genericon { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }
.panel .search-form { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; padding-left: 5px; }
.panel .search-field { -webkit-appearance: none; background-color: #44a08d; border: 0; border-radius: 0; box-sizing: inherit; color: #f9f9f9; font: italic 16px "Playfair Display", "Georgia", serif; width: 100%; }
.panel .search-submit { display: none; }
.panel ::-webkit-input-placeholder { color: #f9f9f9; }
.panel :-moz-placeholder { color: #f9f9f9; opacity: 1; }
.panel ::-moz-placeholder { color: #f9f9f9; opacity: 1; }
.panel :-ms-input-placeholder { color: #f9f9f9; }
@media screen and (min-width: 850px) { .panel { border-right: 2px solid #3c8e7d; width: 390px; } }
@media screen and (min-width: 1400px) { .panel { border-right: none; display: block; } }

.jetpack-social-navigation { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-size: 24px; text-align: center; }
@media screen and (min-width: 850px) { .jetpack-social-navigation { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; text-align: left; } }
.jetpack-social-navigation .menu { margin-bottom: 24px; }
@media screen and (min-width: 850px) { .jetpack-social-navigation .menu { margin-bottom: 0; } }
.jetpack-social-navigation .menu-item { padding: 0 12px; }
@media screen and (min-width: 850px) { .jetpack-social-navigation .menu-item { padding: 0 6px; } }

.widget-area { background-color: white; margin-top: 48px; padding: 48px 24px; }

.widget { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 48px; min-width: 0; /* flexbox fix for images */ }
.widget .search-submit { display: none; }
.widget .search-field { width: 100%; }
.widget select { max-width: 100%; }
.widget ol, .widget ul { padding-left: 12px; }
.widget ol ol, .widget ol ul, .widget ul ol, .widget ul ul { padding-left: 12px; }
.widget:last-of-type { margin-bottom: 0; }
.widget cite { font-family: "Playfair Display", "Georgia", serif; }

.widget-title { font: bold 16px "Montserrat", "Helvetica", sans-serif; margin-bottom: 24px; }
.widget-title:after { display: block; content: ''; height: 3px; width: 10%; background: #151515; border-radius: 0.05em; }

#wp-calendar { text-align: center; width: 100%; }
@media screen and (min-width: 850px) { #wp-calendar { width: 75%; } }
#wp-calendar #prev { text-align: left; }
#wp-calendar #next { text-align: right; }
#wp-calendar a { display: block; background-color: #44a08d; color: white; margin: -6px; padding: 6px; text-decoration: none; }
#wp-calendar a:hover, #wp-calendar a:active, #wp-calendar a:focus { background-color: #2d6a5e; }

.widget_rss { position: relative; }
.widget_rss ul { list-style: none; margin: 0; padding: 0; }
.widget_rss li { border-top: 1px dashed rgba(21, 21, 21, 0.25); padding: 12px 0; }
.widget_rss li:first-of-type { border-top: none; }

.rss-date { display: block; font-family: "Playfair Display", "Georgia", serif; font-style: italic; }

.sticky { /*! required to pass theme check */ }

/*# sourceMappingURL=style.css.map */